//primary/accent gradients
$purple-gradient: linear-gradient(180deg, #667eea 0%, #764ba2 100%);
$pink-gradient: linear-gradient(180deg, #f093fb 0%, #f5576c 100%);
$blue-gradient: linear-gradient(to bottom, #4facfe 0%, #00f2fe 100%);
$green-gradient: linear-gradient(to bottom, #43e97b 0%, #38f9d7 100%);

//light gradients for tasks bg colors
$gradient-pink-blue: linear-gradient(to bottom, #a8edea 0%, #fed6e3 100%);
$gradient-peach: linear-gradient(to bottom, #ffecd2 0%, #fcb69f 100%);
$gradient-green-mint: linear-gradient(to bottom, #9bd2ae 0%, #a2e3d7 85%);
$gradient-blue-aqua: linear-gradient(to bottom, #4facfe 0%, #9ce6e9 87%);
